unpackaged/main/default/flows/AddOpportunityRelatedProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>get_All_product_id_from_current_loop</name>
        <label>get All product id from current loop</label>
        <locationX>909</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfProductId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_product_id_from_get_record_of_pricebook_entry.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_product_id_from_get_record_of_pricebook_entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityFieldAssingment</name>
        <label>OpportunityFieldAssingment</label>
        <locationX>412</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>OpportunitySingleRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageNmae</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitySingleRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitySingleRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitySingleRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>priceBookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitySingleRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityCreatedRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityRelatedProductAssignment</name>
        <label>OpportunityRelatedProductAssignment</label>
        <locationX>209</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRelatedProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunitySingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRelatedProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCollectionOfProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRelatedProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordOfPriceBookEntryRelatedToChoosenProdduct.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRelatedProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantinty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityRelatedProductCreatedRecord</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>newCollectionOfProduct</name>
        <collectionReference>get_The_All_Record_of_Related_product</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>priceBook</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>priceBookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductRecord</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>productId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AddOpportunityRelatedProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddOpportunityRelatedProduct</label>
    <loops>
        <name>Get_product_id_from_get_record_of_pricebook_entry</name>
        <label>Get product id from get record of pricebook entry</label>
        <locationX>806</locationX>
        <locationY>351</locationY>
        <collectionReference>Get_All_PriceBook_entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_All_product_id_from_current_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_The_All_Record_of_Related_product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>OpportunityCreatedRecord</name>
        <label>OpportunityCreatedRecord</label>
        <locationX>295</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>OpportunityRelatedProductAssignment</targetReference>
        </connector>
        <inputReference>OpportunitySingleRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>OpportunityRelatedProductCreatedRecord</name>
        <label>OpportunityRelatedProductCreatedRecord</label>
        <locationX>50</locationX>
        <locationY>367</locationY>
        <inputReference>OpportunityRelatedProduct</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_PriceBook_entries</name>
        <label>Get All PriceBook entries</label>
        <locationX>741</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_product_id_from_get_record_of_pricebook_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>priceBookId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_The_All_Record_of_Related_product</name>
        <label>get The All Record of Related product</label>
        <locationX>694</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectionOfProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordOfPriceBookEntryRelatedToChoosenProdduct</name>
        <label>GetRecordOfPriceBookEntryRelatedToChoosenProdduct</label>
        <locationX>529</locationX>
        <locationY>560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityFieldAssingment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Products</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Price_Book</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>295</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Show_price_book</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StageNmae</name>
            <choiceReferences>Stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>StageNmae</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpportunityProduct</name>
        <label>OpportunityProduct</label>
        <locationX>614</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRecordOfPriceBookEntryRelatedToChoosenProdduct</targetReference>
        </connector>
        <fields>
            <name>Products</name>
            <choiceReferences>newCollectionOfProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Products</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantinty</name>
            <dataType>Number</dataType>
            <fieldText>Quantinty</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_price_book</name>
        <label>Show price book</label>
        <locationX>487</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_PriceBook_entries</targetReference>
        </connector>
        <fields>
            <name>Price_Book</name>
            <choiceReferences>priceBook</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Price Book</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>344</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AlwaysTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CollectionOfProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRelatedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunitySingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>priceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuantityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
