unpackaged/main/default/flows/Bulk_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_New_Values_To_New_Case</name>
        <label>Assign New Values To New Case</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>NewCaseRecordVariable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Fetched_Record_Collection.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseRecordVariable.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordCollioctionOfCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCaseRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfCreatedCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RecordCollioctionOfCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Fetched_Record_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checks_Null_Values</name>
        <label>Checks Null Values</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Fetched_Record_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collection of Contact From Get Record Element</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Null_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetched_Related_contact_From_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Null_Message</targetReference>
            </connector>
            <label>Yes it is Null Collection</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bulk Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Creation Flow</label>
    <loops>
        <name>Iterate_Over_Fetched_Record_Collection</name>
        <label>Iterate Over Fetched Record Collection</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <collectionReference>Fetched_Related_contact_From_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Values_To_New_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Created_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Created_Cases</name>
        <label>New Created Cases</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Show_Complete_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>RecordCollioctionOfCases</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetched_Related_contact_From_Account</name>
        <label>Fetched Related contact From Account</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checks_Null_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Created_Cases_Related_To_Account_Of_Name_Contact</name>
        <label>Created Cases Related To Account Of Name Contact</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetched_Related_contact_From_Account</targetReference>
        </connector>
        <fields>
            <name>CreateCases</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Create Related cases for account same as contact .&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThereIsSomethingWrong</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Complete_Message</name>
        <label>Show Complete Message</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NewCreatedCase</name>
            <fieldText>&lt;p&gt;{!NumberOfCreatedCases} Cases is Succesfully Created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Null_Message</name>
        <label>Show Null Message</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecords</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Seems there are no related records&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Cases_Related_To_Account_Of_Name_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewCaseRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NumberOfCreatedCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordCollioctionOfCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
