unpackaged/main/default/flows/CheckTheDuplicatePhoneAndEmailOfContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CheckGetAllTheRecordOfContactElementIfItIsNull</name>
        <label>CheckGetAllTheRecordOfContactElementIfItIsNull</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesItIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllTheRecordOfContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>YesItIsNull</label>
        </rules>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllTheRecordOfContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_UpdateTheCheckBoxfieldOnContactToTrue</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CheckTheDuplicatePhoneAndEmailOfContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckTheDuplicatePhoneAndEmailOfContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllTheRecordOfContact</name>
        <label>GetAllTheRecordOfContact</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckGetAllTheRecordOfContactElementIfItIsNull</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 AND 4)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_UpdateTheCheckBoxfieldOnContactToTrue</name>
        <label>Copy 1 of Copy 1 of UpdateTheCheckBoxfieldOnContactToTrue</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>YesItHasDuplicateEmailAndPhone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllTheRecordOfContact</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
