unpackaged/main/default/flows/Duplicate_through_Loop_element.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_unique_Record</name>
        <label>Add unique Record</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Newuniquerecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_the_duplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_the_duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection</name>
        <label>Collection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>listOfCollectedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Another_get_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfCollectedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lets_see_in_one_get_record_element_duplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_the_duplicates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dont_Allow_duplicates</name>
        <label>Dont Allow duplicates</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Add_unique_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_it_is_duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Newuniquerecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Find_the_duplicates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_the_duplicates</targetReference>
            </connector>
            <label>yes it is duplicate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Duplicate through Loop element {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate through Loop element</label>
    <loops>
        <name>Find_the_duplicates</name>
        <label>Find the duplicates</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>listOfCollectedRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dont_Allow_duplicates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>show_the_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Another_get_record</name>
        <label>Another get record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lets_see_in_one_get_record_element_duplicates</name>
        <label>Lets see in one get record element duplicates</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_get_record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100000.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>show_the_records</name>
        <label>show the records</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Records</name>
            <fieldText>&lt;p&gt;{!Newuniquerecord}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lets_see_in_one_get_record_element_duplicates</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>brandNewList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>listOfCollectedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Newuniquerecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
