unpackaged/main/default/flows/Flow_for_Checking_the_Primary_Contact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Null_Value</name>
        <label>Check Null Value</label>
        <locationX>358</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Itrate_over_the_Record_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Get_Racords_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Contact_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_the_Field_value_of_checkbox</targetReference>
            </connector>
            <label>If Get Racords is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_primary_checkbox_is_check</name>
        <label>If primary checkbox is check</label>
        <locationX>886</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Itrate_over_the_Record_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Itrate_over_the_Record_collection.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes primary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow for Checking the Primary Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for Checking the Primary Contact Role</label>
    <loops>
        <name>Itrate_over_the_Record_collection</name>
        <label>Itrate over the Record collection</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <collectionReference>Opportunity_Contact_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_primary_checkbox_is_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_the_Field_Value_of_Checkbox_to_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity_Contact_Role</name>
        <label>Opportunity Contact Role</label>
        <locationX>358</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Null_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_the_Field_value_of_checkbox</name>
        <label>Change the Field value of checkbox</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_there_is_no_contact_role__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_the_Field_Value_of_Checkbox_to_True</name>
        <label>Change the Field Value of Checkbox to True</label>
        <locationX>666</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_there_is_no_contact_role__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Contact_Role</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
