unpackaged/main/default/flows/Just_checking_the_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>loop_over_the_account.Ownership</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new</name>
        <label>new</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NewRecordCollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_the_account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_the_account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Just checking the flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Just checking the flow</label>
    <loops>
        <name>loop_over_the_account</name>
        <label>loop over the account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>get_all_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>as_it_is</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_all_account</name>
        <label>get all account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_the_account</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>as_it_is</name>
        <label>as it is</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>NewRecordCollectionToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Newownership</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRecordCollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>printaccountnumber</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
