unpackaged/main/default/flows/MoveStageToClosedLostIfItIsMoreThan30Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_AssignClosedLostStageToOpportuntiy</name>
        <label>Copy 1 of AssignClosedLostStageToOpportuntiy</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>loopOverGetOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfOpportuntiyToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOverGetOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOverGetOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_CheckTheDate</name>
        <label>Copy 1 of CheckTheDate</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>loopOverGetOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_CheckIfItIsMoreThan30Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayGaps</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopOverGetOpportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_AssignClosedLostStageToOpportuntiy</targetReference>
            </connector>
            <label>Copy 1 of CheckIfItIsMoreThan30Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DayGaps</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!loopOverGetOpportunity.CreatedDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>MoveStageToClosedLostIfItIsMoreThan30Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MoveStageToClosedLostIfItIsMoreThan30Days</label>
    <loops>
        <name>loopOverGetOpportunity</name>
        <label>loopOverGetOpportunity</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>GetAllTheRelatedOpportuntiy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_CheckTheDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_UpdateCloseLostOfGreaterThan30Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllTheRelatedOpportuntiy</name>
        <label>GetAllTheRelatedOpportuntiy</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOverGetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateCloseLostOfGreaterThan30Days</name>
        <label>Copy 1 of UpdateCloseLostOfGreaterThan30Days</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <inputReference>CollectionOfOpportuntiyToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllTheRelatedOpportuntiy</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>CollectionOfOpportuntiyToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
