unpackaged/main/default/flows/TotalAmountOfOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AdditionOfAmountFromOpportunity</name>
        <label>AdditionOfAmountFromOpportunity</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>AdditionOfTotalOpportunityAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverCollectionOfOpprtunityForAmountAddition.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverCollectionOfOpprtunityForAmountAddition</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TotalAmountOfOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TotalAmountOfOpportunity</label>
    <loops>
        <name>IterateOverCollectionOfOpprtunityForAmountAddition</name>
        <label>IterateOverCollectionOfOpprtunityForAmountAddition</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>RelatedOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AdditionOfAmountFromOpportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddTheValueToTotalOpportunityAmountField</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RelatedOpportunity</name>
        <label>RelatedOpportunity</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverCollectionOfOpprtunityForAmountAddition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AddTheValueToTotalOpportunityAmountField</name>
        <label>AddTheValueToTotalOpportunityAmountField</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>TotalAmountOfOpportunity__c</field>
            <value>
                <elementReference>AdditionOfTotalOpportunityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RelatedOpportunity</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AdditionOfTotalOpportunityAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
