unpackaged/main/default/flows/UpdateLineItemFieldAsProductGetAdded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Copy_1_of_NewAssignment</name>
        <label>Copy 1 of Copy 1 of NewAssignment</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordOfOpportuntiy.CounterOfProductAdded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddTheNumberOfProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRecordOfOpportuntiy.Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddTheNumberOfProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddTheNumberOfProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewCollectionAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewCollectionAssignment</name>
        <label>NewCollectionAssignment</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NumberAndId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRecordOfOpportuntiy.CollectionOfIdAndNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberAndId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberAndId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTheLIneItemFieldOfOpportunity</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>TextCollectionOfNumberAndId</name>
        <dataType>String</dataType>
        <expression>{!NumberAndId}</expression>
    </formulas>
    <formulas>
        <name>TextCounter</name>
        <dataType>String</dataType>
        <expression>TEXT({!Counter})</expression>
    </formulas>
    <interviewLabel>UpdateLineItemFieldAsProductGetAdded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateLineItemFieldAsProductGetAdded</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecordOfOpportuntiy</name>
        <label>getRecordOfOpportuntiy</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_NewAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTheLIneItemFieldOfOpportunity</name>
        <label>UpdateTheLIneItemFieldOfOpportunity</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CollectionOfIdAndNumber__c</field>
            <value>
                <elementReference>TextCollectionOfNumberAndId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CounterOfProductAdded__c</field>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Item__c</field>
            <value>
                <elementReference>AddTheNumberOfProduct</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordOfOpportuntiy</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddTheNumberOfProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionOfNumberAndId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberAndId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfProductRelaledToOpportunity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
